<div class="card-container cards-container__card-container" tabindex="0">
  <div class="card">
    <div class="card__side card__side_side_front">
      <div class="card__img-container">
        <div class="card__img"></div>
      </div>
      <p class="card__text-container card__text-container_color_color1">
        <span class="card__text">front</span>
      </p>
    </div>

    <div class="card__side card__side_side_back">
      <div class="card__img-container">
        <div class="card__img"></div>
      </div>
      <p class="card__text-container card__text-container_color_color1">
        <span class="card__text">дебил</span>
      </p>
    </div>

    <div class="card__rotate-block" tabindex="0">
      <button class="card__rotate-button"></button>
    </div>

    <div class="card-container__icon icon-success card-container__icon_hidden"></div>
    <div class="card-container__icon icon-error card-container__icon_hidden"></div>
  </div>
</div>