.cards-container__card-container {
  margin: 20px;
}

.card {
  & {
    position: relative;
    height: 200px;
    width: 200px;
  
    user-select: none;
    cursor: pointer;
  
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  &-container {
    & {
      width: 200px;
      height: 200px;
    
      perspective: 400px;
    }

    &__icon {
      & {
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 1;
  
        height: 60px;
        width: 60px;

        background: {
          size: cover;
          repeat: no-repeat;
        }
  
        box-shadow: 0 0 7px 0 black;
        border-radius: 50%;
      }
  
      &_hidden { display: none; }
    }
  }

  &_side {
    & {
      
    }

    &_front {
      & { transform: rotateY(0deg); }
      &:hover {transform: rotateY(0deg) scale(1.03); }
    }

    &_back {
      & { transform: rotateY(-180deg); }
      &:hover { transform:  rotateY(-180deg) scale(1.03); }
    }
  }

  &__side {
    & {
      position: absolute;

      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;

      backface-visibility: hidden;
      overflow-y: hidden;

      border-radius: 10px; /* round box-shadow */
      box-shadow: 0 0 7px 0 black;
      transition: box-shadow 0.3s ease-out;
    }

    &:hover { box-shadow: 0 0 15px 0 black; }

    &_side {
      &_front { transform: rotateY(0deg); }
      &_back { transform: rotateY(180deg); }
    }

    &_hidden { filter: blur(3px); }
  }

  &__img {
    &-container {
      display: block;
      height: 100%;
      width: 100%;
    }

    & {
      display: block;
      height: 100%;
      width: 100%;

      background: {
        image: url("/assets/img/cards/blouse.jpg");
        size: cover;
        position: center;
      }
    }
  }

  &__text {
    & {
      line-height: inherit;
    }

    &-container {
      & {
        display: flex;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        text-shadow: 0 0px 10px black;
        font: {
          size: 40px;
          weight: 300;
        }
        line-height: 1;
        color: white;
      
        box-shadow: 0 0 5px 0 #000;
      
        opacity: 1;
        overflow-y: hidden;
      
        background-size: 300% 300%;
        animation: rainbow 5s ease-out infinite;
        transition: all 0.3s ease-out;
      }

      &_hidden {
        padding: 0;
        line-height: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__rotate {
    &-block {
      & {
        position: absolute;
        top: calc(50% - 30px / 2);
        right: calc(-46px / 2); /* (width of the content + padding * 2) / 2 */
      
        padding: 0 3px;
      
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 5px;
      
        backface-visibility: hidden;
        cursor: pointer;
      
        transition: 0.3s ease-out;
      }

      &:hover {
        box-shadow: 0 0 10px 2px black;
        transition: box-shadow 0.3s ease-out;
      }

      &_hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateX(10px);
      }
    }

    &-button {
      height: 30px;
      width: 40px;
    
      background: {
        image: url("/assets/icons/rotate.png");
        size: cover;
        repeat: no-repeat;
        position: center;
        color: transparent;
      }
    
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.switch-button {
  height: 50px;
  margin-top: 50px;
}

.start-game-button {
  & {
    height: 50px;
  }

  &_hidden {
    display: none;
  }
}

.icon {
  &-success { background-image: url("/assets/icons/success.png"); }
  &-error { background-image: url("/assets/icons/error.png"); }
}
