.page-main {
  & {
    min-height: inherit;
    min-width: inherit;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: inherit;
    min-width: inherit;
  }

  // &__text-container {
  //   font-size: 4rem;
  //   @include for-phone { font-size: 5rem; }
  //   text-transform: uppercase;
  //   text-shadow: 1px 1px 2px black;
  //   color: $default-color;
  //   text-align: center;

  //   transition: font-size 0.25s ease-out;
  // }
  
  // &__app-name {
  //   font-size: 2em;
  //   font-weight: 400;
  // }

  // &__app-description {
  //   margin-bottom: 20px;

  //   font-size: 0.3em;
  //   font-weight: 300;

  //   background-color: rgba(0,0,0, 0.1);
  // }

  // &__app-how-to-use {
  //   & {
  //     margin-bottom: 10px;

  //     text-transform: initial;
  //     font-size: 0.5em;
  //     font-weight: 300;
  //   }
  // }

  &__pagination {
    & {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  // &__controls {
  //   & {
  //     margin-top: 10px;
  //   }
  // }
}

.pagination {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__item {
    & {
      padding: 10px;
      margin-right: 5px;

      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
    }

    &:not(&_active):hover {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &_active {
      & {
        background-color: $secondary-color;
      }
    }
  }
}

.current-word-container {
  & {
    margin-bottom: 20px;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__image {
    width: 100%;

    box-shadow: 0 0 10px 1px black;
  }

  &__translation {
    text-align: center;
    font-size: 2em;
  }
}

.words-container {
  & {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
    font-size: 2em;
  }

  &__icon {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    background-image: url("/assets/icons/audio_pink.png");
    background-position: center;
    background-size: cover;
    // filter: grayscale(1);
  }

  &__card {
    & {
      display: flex;
      padding: 10px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
  
      border-radius: 5px;
      border: 1px solid black;
  
      cursor: pointer;
    }
    
    &_active {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  &__card:hover {
    box-shadow: 0px 0px 5px 0px black;
  }

  &__word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.controls {
  & {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__button {
    & {
      padding: 10px 10px;
      @include for-phone { padding: 10px 20px; }
  
      border: none;
      border-radius: 5px;
  
      font-size: 2em;
      font-weight: 300;
      text-transform: uppercase;
      color: black;

      background-color: $secondary-color;
  
      cursor: pointer;
      transition: color 0.25s ease-out, transform 0.25s ease-out;
    }

    &:hover {
      box-shadow: 0px 0px 5px -1px black;
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &__speak-button {
    padding: 10px 10px;
    @include for-phone { padding: 10px 50px; }
  }
}
