.forecast-container {
  & {
    color: $default-color;
    font: {
      weight: 700;
    }

    @include for-small-phone {
      width: 100%;
      text-align: center;
    }

    @include for-tablet {
      text-align: initial;
    }

    @include for-big-desktop {
      max-width: 600px;
    }
  }

  &__city {
    max-height: calc(5.4rem * 3); // max 3 lines will be visible to the user

    font: {
      size: 4.4rem;
    }
    line-height: 5.4rem;
    text-transform: uppercase;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;

    @include for-small-phone {
      justify-content: center;
    }

    @include for-tablet {
      justify-content: initial;
    }
  }

  &__datetime {
    display: flex;

    font: {
      weight: 300;
      size: 2.4rem;
    }
    line-height: 2.9rem;

    @include for-small-phone {
      justify-content: center;
    }

    @include for-tablet {
      justify-content: initial;
    }
  }

  &__time {
    margin-left: 10px;
  }

  &__today {
    display: flex;
    flex-direction: column;

    @include for-small-phone {
      align-items: center;
    }

    @include for-tablet {
      flex-direction: row;
      align-items: initial;
      width: 80%;
      margin: 0 auto;
    }

    @include for-big-desktop {
      width: initial;
      margin: initial;
    }
  }

  &__temperature {
    display: flex;

    @include for-small-phone {
      font-size: 22.6rem;
      line-height: 37rem;
    }

    @include for-phone {
      font-size: 25.6rem; // 30.6rem;
      line-height: 40rem; // 37.3rem;
    }

    @include for-tablet {
      width: 100%;
    }

    @include for-big-desktop {
      width: initial;
    }
  }

  &__temperature-units {
    position: relative;
    top: 1.3em;

    height: 0;

    font: {
      size: 0.4em;
    }
    line-height: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 80px;

    font: {
      weight: 400;
      size: 2.2rem;
    }
    line-height: 3.7rem;
    text-transform: uppercase;

    @include for-small-phone {
      margin-left: 16px;
      align-items: center;
    }

    @include for-tablet {
      align-items: initial;
    }

    @include for-big-desktop {
      margin-left: 32px;
    }
  }

  &__weather-status-icon {
    width: 64px;
    height: 64px;

    user-select: none;

    transform: scale(3) translate(30%, 10%);

    @include for-small-phone {
      margin-bottom: 40px;
      transform: scale(3);
    }

    @include for-tablet {
      margin-bottom: 0;
      transform: scale(3) translate(30%, 10%);
    }
  }

  // Forecast for 3 days
  &__week {
    display: flex;
    justify-content: space-between;

    @include for-small-phone {
      flex-direction: column;
      align-items: center;
    }

    @include for-tablet {
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
    }

    @include for-big-desktop {
      width: initial;
      margin: initial;
    }
  }

  &__week-day {
    @include for-small-phone {
      margin-bottom: 50px;
    }

    @include for-tablet {
      margin-bottom: initial;
    }
  }

  &__week-day-content {
    display: flex;
  }

  &__week-day-title {
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-transform: uppercase;
  }

  &__weather-status-small-icon {
    width: 64px;
    height: 64px;

    user-select: none;
  }

  &__temperature-small {
    @include for-small-phone {
      font-size: 8rem;
      line-height: 9.8rem;
    }

    @include for-phone {
      font-size: 8rem;
      line-height: 9.8rem;
    }
  }

  &__temperature-units-small {
    top: 0.7em;

    font: {
      size: 0.8em;
    }
  }
}

.weather-properties {
  &__item {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
