.main-content {
  padding-top: 40px;
}

.controls-container {
  & {
    display: flex;
    justify-content: space-between;
    height: 44px;
  }

  &__buttons {
    display: flex;
  }

  &__refresh-button {
    & {
      width: 44px;
      margin-right: 10px;

      color: $default-color;

      border-radius: 5px;
      outline: none;

      background-color: $primary-color;

      cursor: pointer;
      transition: all 0.35s ease-out;
    }

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10%);
    }
  }
}

.refresh-button-icon {
  & {
    fill: $default-color;
  }

  &_active {
    animation: rotate 1s linear infinite;
  }
}

// TODO: REFACTOR

.units-switcher {
  display: flex;
  height: 100%;

  font-weight: 700;

  &__unit {
    & {
      width: 44px;

      color: rgba(255, 255, 255, 0.4);

      background-color: $secondary-color;

      outline: none;
      cursor: pointer;
      transition: all 0.35s;
    }

    &_active {
      color: $default-color;

      background-color: $primary-color;
    }

    &_temp {
      &_fahrenheit {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &_centigrade {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
