.main-content {
  & {
    padding: 40px 0;
  }

  &__main-container {
    @include for-small-phone {
      flex-direction: column;
      align-items: center;
    }

    @include for-desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    margin-top: 60px;
  }
}

.controls-container {
  & {
    display: flex;

    @include for-small-phone {
      flex-direction: column;
      align-items: center;
    }

    @include for-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__buttons {
    display: flex;
    height: 44px;

    @include for-small-phone {
      margin-bottom: 20px;
    }

    @include for-tablet {
      margin-bottom: initial;
    }
  }

  &__refresh-button {
    & {
      width: 44px;
      margin-right: 10px;

      color: $default-color;

      border-radius: 5px;
      outline: none;

      background: {
        color: $primary-color;
        image: url("/assets/icons/refresh.svg");
      }

      cursor: pointer;
      transition: all 0.35s ease-out;
    }

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10%);
    }
  }

  &__search {
    width: 100%;

    @include for-small-phone {
      max-width: 100%;
    }

    @include for-phone {
      max-width: 375px;
    }

    height: 44px;
  }
}

.refresh-button-icon {
  & {
    fill: $default-color;
  }

  &_active {
    animation: rotate 1s linear infinite;
  }
}

// TODO: REFACTOR

.units-switcher {
  display: flex;
  height: 100%;

  font-weight: 700;

  &__unit {
    & {
      width: 44px;

      color: rgba(255, 255, 255, 0.4);

      background-color: $secondary-color;

      outline: none;
      cursor: pointer;
      transition: all 0.35s;
    }

    &_active {
      color: $default-color;

      background-color: $primary-color;
    }

    &_temp {
      &_fahrenheit {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &_centigrade {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.main-container {
  & {
    display: flex;
    justify-content: space-between;
  }

  &__map-container {
    margin-top: 25px;

    @include for-desktop {
      margin-top: initial;
    }
  }
}
