@import "../scss/utils/libs";
@import "../scss/utils/vars";
@import "../scss/utils/mixins";
@import "../scss/utils/reset-css";
@import "../scss/utils/fonts";
@import "../scss/animations";

html {
  box-sizing: border-box;

  font-size: 10px;
}

body {
  min-width: $small-phone-width;
  height: 100vh;

  font: {
    family: $main-font;
    weight: $main-font-weight;
  }

  backdrop-filter: blur(5px);
  overflow-x: hidden;

  background-color: $primary-color; // #226912;
}

.wrapper {
  margin: 0 auto;

  transition: padding 0.5s ease-out, margin 0.5s ease-out;

  @include for-small-phone { padding: 0 10px; }
  @include for-tablet { padding: 0 90px; }
  @include for-desktop { padding: 0 90px; }
  @include for-big-desktop { padding: 0 90px; }
}

@import "./main-content/main-content";
@import "./select-box/select-box";
@import "./search-container/search-container";
@import "./map-container/map-container";
