.header {
  & {
    position: sticky;
    top: 0;
    z-index: 1;

    padding: 24px 0;

    border: none;

    text-transform: uppercase;
    color: white;

    background-color: #2d303a;
    box-shadow: 0 0 7px 0 black;

    transition: padding 0.5s ease-out;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    transform: translateX(calc(50vw - 50%));
    z-index: -1;

    text-shadow: 0 0 1px black;
  }

  &__description {
    height: 0;
    opacity: 0;

    transition: all 0.5s ease-out;

    @include for-tablet {
      height: unset;
      opacity: unset;
    }
  }
}
