@import "../scss/utils/libs";
@import "../scss/utils/vars";
@import "../scss/utils/mixins";
@import "../scss/utils/reset-css";
@import "../scss/utils/fonts";

h1 {
  color: red;
}

.wrapper {
  background-color: lightcoral;
}

.new-class {
  color: yellow;
}

@import "./cards-container/cards-container";
@import "./card/card";
@import "./categories-container/categories-container";
@import "./category/category";