.button {
  & {
    height: 30px;
    padding: 0px 20px;

    font: {
      weight: 300;
      size: 2rem;
    }

    text: {
      transform: uppercase;
      shadow: 1px 1px 1px black;
    }

    color: white;

    border-radius: 5px;
    box-shadow: 0 0 7px 0 black;
    cursor: pointer;
  }

  &_theme {
    &_train {
      background-color: lightcoral;
    }

    // &_play {
    // }
  }
}
